/*
*	Formats
*/
div#alternates-nav {
	font-size: 1em;
	font-family:sans-serif;
	margin:20px 0 0 0;
}

div#alternates-nav a {
	margin: 0 10px 0 10px;
	text-decoration:none;
	color:#2f2f2f;
}

div#alternates-nav a:hover {
	text-decoration:underline;
}